@mixin mobile() {
  @media (max-width: $bp-mobile) {
    @content;
  }
}

@mixin mobile-large() {
  @media (min-width: $bp-mobile + 1) and (max-width: $bp-tablet - 1) {
    @content;
  }
}

@mixin mobile-large-up() {
  @media (min-width: $bp-mobile + 1) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $bp-tablet) and (max-width: $bp-desk) {
    @content;
  }
}

@mixin tablet-up() {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desk() {
  @media (min-width: $bp-desk + 1) and (max-width: $bp-desk-large - 1) {
    @content;
  }
}

@mixin desk-up() {
  @media (min-width: $bp-desk + 1) {
    @content;
  }
}

@mixin desk-large() {
  @media (min-width: $bp-desk-large) {
    @content;
  }
}