.container {
  max-width: $max-width-large;
  margin: 0 auto;
  padding-left: $gutter*0.5;
  padding-right: $gutter*0.5;

  @include desk-up {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}