// Colors
$grey: #f1f1f1;
$white: #fff;
$black: #000;

$colors:
  (grey, $grey),
  (white, $white),
  (black, $black);

$base-spacing: 30px;
$gutter: $base-spacing;
$max-width: 1023px;
$max-width-large: 1300px;

$bp-mobile: 360px;
$bp-tablet: 768px;
$bp-desk: $max-width;
$bp-desk-large: $max-width-large;
