.u-t-align-center {
  text-align: center;
}

.u-t-align-left {
  text-align: left;
}

.u-t-align-right {
  text-align: right;
}

.u-t-align-justify {
  text-align: justify;
}

.u-fw-700 {
  font-weight: 700;
}

.u-fw-100 {
  font-weight: 100;
}

.u-t-muted {
  font-weight: 100;
  font-size: 15px;
  opacity: 0.45;
}
